res/texture.dtd

<!DOCTYPE texture [

<!ELEMENT texture (width, height, sprite+)>

<!ELEMENT width CDATA>
<!ELEMENT height CDATA>
<!ELEMENT sprite CDATA>

<!ATTLIST sprite id CDATA #REQUIRED>
<!ATTLIST sprite xmin CDATA #REQUIRED>
<!ATTLIST sprite xmax CDATA #REQUIRED>
<!ATTLIST sprite ymin CDATA #REQUIRED>
<!ATTLIST sprite ymax CDATA #REQUIRED>
]>